bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.32.0
html2image==2.0.1
idna==3.3
imgkit==1.2.2
kaleido==0.2.1
keyboa==3.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
pycparser==2.21
pyparsing==3.0.8
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
tenacity==8.0.1
urllib3==1.26.9
wkhtmltopdf==0.2
XlsxWriter==3.0.3
